<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.7.1" targetFramework="net462" />
  <package id="Relativity.Api" version="9.6.134.78" targetFramework="net462" />
  <package id="Relativity.ObjectManager" version="9.6.134.78" targetFramework="net462" />
  <package id="Relativity.Rsapi" version="9.6.134.78" targetFramework="net462" />
  <package id="RelativityDev.DbContextHelper" version="2.0.0.2" targetFramework="net462" />
  <package id="RelativityDev.RelativityTestHelpers" version="4.5.0.1" targetFramework="net462" />
</packages>