<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <style></style>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Content/scripts/jquery.validate.min.js"></script>
    <script src="~/Content/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/scripts/bootstrap.min.js"></script>
    <script src="~/Content/scripts/tether.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
